* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style-type: none;
}

body{
    text-align: center;
    height: 100vh;
    background: #c2e59c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.quiz-container{
    display: block;
    margin: 80px auto;
    background-color: rgba(245, 245, 245, 0.904);
    width: 40%;
    height: 400px;
    border-radius: 12px;
    box-shadow: 0px 2px 3px gray;
    padding: 30px;
}

.quiz-container h1{
    font-size: 4rem;
    padding: 20px 0 50px 0;
}

.quiz-container ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(min-content, max-content);
}
.quiz-container ul > li {
    margin: 10px 0;
    font-size: 1.6rem;
}
.answer{
    width: 160px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 12px;
    font-size: 1.4rem;
    cursor: pointer;
    transform: scale(1.0);
    transition: transform 0.2s linear;
}
.answer:active{
    transform: scale(0.9);
}